<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    table {
      border: 1px solid #e9e9e9;
      border-collapse: collapse;
      border-spacing: 0;
    }

    th,
    td {
      padding: 8px 16px;
      border: 1px solid #e9e9e9;
      text-align: left;
    }

    th {
      background-color: #f7f7f7;
      color: #5c6b77;
      font-weight: 600;
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-if="books.length">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>书籍名称</th>
            <th>出版日期</th>
            <th>价格</th>
            <th>购买数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in books">
            <td>{{index + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.data}}</td>
            <!-- <td>{{item.price.toFixed(2)}}</td> -->
            <!-- 使用过滤器，不会改变原始数据，简单改变数据格式，当操作复杂可以使用计算属性 -->
            <!-- 将管道符前面的值自动传入函数作为第一个参数 -->
            <td>{{item.price | showPrice}}</td>

            <td>
              <button :disabled="1 >= item.count" @click="decrement(index)">-</button>
              {{item.count}}
              <button @click="increment(index)">+</button>
            </td>
            <td>
              <button @click="clear(index)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>总价格:{{totalPrice | showPrice }}</h2>
    </div>
    <div v-else>购物车为空</div>
  </div>

  <script src="../vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        books: [{
          id: 1,
          name: '《算法导论》',
          data: '2006-9',
          price: 85.00,
          count: 1,
          isClick: true,
        }, {
          id: 2,
          name: 'UNIX编程艺术',
          data: '2006-2',
          price: 59.00,
          count: 1,
          isClick: true,
        }, {
          id: 3,
          name: '编程珠玑',
          data: '2008-10',
          price: 37.00,
          count: 1,
          isClick: true,
        }, {
          id: 4,
          name: '代码大全',
          data: '2019-9',
          price: 128.00,
          count: 1,
          isClick: true,
        }]
      },
      // 过滤器
      filters: {
        showPrice(price) {
          return "￥" + price.toFixed(2);
        }
      },
      methods: {
        decrement(index) {
          this.books[index].count--;

        },
        increment(index) {
          this.books[index].count++;

        },
        clear(index) {
          this.books.splice(index, 1);
        }
      },
      computed:{
        totalPrice(){
          let totalPrice = 0;
          // 数组遍历方法
          
          // 1.普通for循环
          // for(let i = 0; i < this.books.length; i++){
          //   totalPrice += this.books[i].price * this.books[i].count;
          // }

          // 2. for(let i in 数组)
          // for(let i in this.books){
          //   console.log(i); //遍历的是索引
          //   totalPrice += this.books[i].price * this.books[i].count;
          // }

          // 3.for(let i of 数组)
          // for(let i of this.books){
          //   console.log(i); //遍历数组的每一项
          //   totalPrice += i.price * i.count;            
          // }

          // 4.reduce遍历数组  把数组所有内容进行汇总
          return this.books.reduce((prev,cur) =>{
            console.log(prev,cur);
            
            return prev + cur.price * cur.count
          },0)

          /*
            这里的reduce 传入两个参数  ：函数  初始值（可选）
            函数的参数4个： prev cur 索引 当前数组对象
            例如：let arr = [1,2,3,4,5,6];
            当给reduce指定第二个参数（初始值）时
            arr.reduce((prev,cur)=>{
                prev: 0  cur:1
                return prev + cur
                prev: 1 cur:2
            },0)  这里指定的初始值是0
            那么这里的初始值0会赋给prev，而我们的数组遍历的第一个值从第一位开始cur
            将返回的值赋给prev

            如果没有第二个参数（初始值），那么函数的prev为数组的第一个值，遍历从第二位开始
            
          */

          // return totalPrice;
        }
      }
    });
  </script>
</body>

</html>