<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  	<div id="app">
      <!-- 在遍历对象的过程中，如果只是获取一个值，获取的是value -->
      <ul>
        <li v-for="item in info">{{item}}</li>
      </ul>

      <!--获取key和value   前面是value 后面是key 把重要的放在前面 -->
      <ul>
          <li v-for="(value,key) in info">{{key}}:{{value}}</li>
      </ul>

      <!--获取key和value和index  -->
      <ul>
          <li v-for="(value,key,index) in info">{{index}}-{{key}}:{{value}}</li>
      </ul>
    </div>
  
    <script src="../vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          info:{
            name:'zwq',
            age:18,
            sex:'girl'
          }
        },
        methods: {}
      });
    </script>
</body>
</html>